@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:400,700&display=swap");
html, body {
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: white; }

body {
  background-color: #dbdeea;
  min-height: 100vh;
  padding-top: 7rem;
  padding-bottom: 5rem; }

h1 {
  color: #707070; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.25rem; }

nav {
  position: absolute;
  top: 0; }

nav > ul {
  position: fixed;
  z-index: 99;
  background-color: #dbdeea;
  width: 100%;
  list-style: none;
  padding: 1rem 3rem;
  margin: 0;
  display: flex;
  flex-flow: row;
  transition: padding .25s, box-shadow .25s; }
  nav > ul li {
    float: left;
    margin: 0 1rem;
    display: flex;
    align-items: flex-end; }
    nav > ul li a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      display: block;
      color: inherit;
      padding: .75rem 1rem; }
    nav > ul li a:hover, nav > ul li a:active, nav > ul li a:visited {
      color: inherit;
      text-decoration: none; }
    nav > ul li a.active {
      font-size: 1.3rem;
      color: #0f7173;
      line-height: 28px; }
    nav > ul li a.account_avatar {
      padding: 0;
      align-self: center; }
  nav > ul .material-icons {
    font-size: 2rem;
    line-height: 3rem; }

nav.nav-scrolled > ul {
  padding: .25rem 3rem;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); }
  nav.nav-scrolled > ul li a.active {
    font-size: 1rem;
    line-height: normal; }

.container-card {
  background-color: #f4f5f9;
  border-radius: 1rem;
  padding: 3rem 5rem; }

img.user-avatar {
  width: 50px; }

img.user-avatar-lg {
  width: 150px; }

.avatar-rounded {
  border-radius: 50%; }

.flex {
  display: flex; }

.card-center-feature {
  padding: 1rem;
  display: inline-block;
  background-color: #f4f5f9;
  position: absolute;
  transform: translateY(-75%); }

.card-with-feature {
  display: flex;
  flex-flow: column;
  margin-top: 4rem;
  align-items: center; }
  .card-with-feature .card-content {
    margin-top: 3.25rem; }

.category-card {
  background-color: #ee7a90;
  border-radius: 1rem;
  text-align: center;
  margin: 0 .25rem;
  cursor: pointer;
  transition: box-shadow .25s; }
  .category-card span {
    display: block;
    margin-top: 1rem; }
  .category-card .material-icons {
    font-size: 5rem; }

.category-card.card-hover:hover {
  box-shadow: 0px 0px 10px #ee7a90; }

.category-card-link {
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  height: 100%; }
  .category-card-link:hover, .category-card-link:active, .category-card-link:focus {
    text-decoration: none;
    color: inherit; }
  .category-card-link:visited {
    color: inherit; }

.test-online-dashboard h1, .test-online-dashboard h2, .test-online-dashboard h3, .test-online-dashboard h4, .test-online-dashboard h5, .test-online-dashboard h6 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #000; }

.test-online-dashboard.container-card {
  padding: 2rem 2rem; }

.category-container {
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
  padding: 1rem; }

.ranking-wrapper {
  width: 80%; }

.guru-wrapper {
  width: 20%; }

ol.custom-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

ol.custom-list > li {
  counter-increment: customlistcounter; }

ol.custom-list > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  float: left;
  width: 1.25rem; }

ol.custom-list:first-child {
  counter-reset: customlistcounter; }

ol.custom-list li {
  display: grid;
  grid-template-columns: 15px 50px 1fr 150px 0px;
  grid-gap: .75rem;
  align-items: center; }

.main-test-container {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-gap: 1rem; }

.answer-header-container {
  grid-row-start: 1;
  display: flex;
  align-items: flex-end; }
  .answer-header-container table {
    width: 100%; }
    .answer-header-container table tr {
      display: grid;
      grid-template-columns: 2.5rem repeat(5, 30px); }
      .answer-header-container table tr td {
        padding: 0; }

.answer-container {
  grid-column-start: 1;
  grid-row: 2/3; }
  .answer-container div:first-child {
    max-height: calc(100vh - 90px);
    overflow-y: scroll; }
  .answer-container ol {
    padding-left: 2rem; }
    .answer-container ol li {
      margin-bottom: .5rem; }
      .answer-container ol li input {
        margin: 0 .35rem; }
    .answer-container ol li:nth-child(even) {
      background-color: #ddd; }

.question-container .category-card {
  padding: .5rem;
  cursor: default;
  line-height: 0; }

.question-details {
  display: flex;
  align-items: center;
  margin-left: .5rem; }
  .question-details table {
    border-spacing: .5rem 0;
    border-collapse: separate; }

.question-list {
  grid-row-start: 2; }
  .question-list li {
    margin-bottom: 1rem; }
  .question-list p {
    margin-bottom: .5rem; }

.question-choice-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .question-choice-list p::before {
    padding-right: .5rem; }
  .question-choice-list p:nth-child(1)::before {
    content: "A."; }
  .question-choice-list p:nth-child(2)::before {
    content: "B."; }
  .question-choice-list p:nth-child(3)::before {
    content: "C."; }
  .question-choice-list p:nth-child(4)::before {
    content: "D."; }
  .question-choice-list p:nth-child(5)::before {
    content: "E."; }

.question-choice-list.choice-list-vertical p:nth-child(1) {
  grid-row-start: 1; }
.question-choice-list.choice-list-vertical p:nth-child(2) {
  grid-row-start: 2; }
.question-choice-list.choice-list-vertical p:nth-child(3) {
  grid-row-start: 1; }
.question-choice-list.choice-list-vertical p:nth-child(4) {
  grid-row-start: 2; }
.question-choice-list.choice-list-vertical p:nth-child(5) {
  grid-row-start: 1; }

.question-choice-list.choice-2-col p:nth-child(1) {
  grid-row-start: 1; }
.question-choice-list.choice-2-col p:nth-child(2) {
  grid-row-start: 2; }
.question-choice-list.choice-2-col p:nth-child(3) {
  grid-row-start: 3; }
.question-choice-list.choice-2-col p:nth-child(4) {
  grid-row-start: 1; }
.question-choice-list.choice-2-col p:nth-child(5) {
  grid-row-start: 2; }

.question-choice-list.choice-1-col p:nth-child(1) {
  grid-row-start: 1; }
.question-choice-list.choice-1-col p:nth-child(2) {
  grid-row-start: 2; }
.question-choice-list.choice-1-col p:nth-child(3) {
  grid-row-start: 3; }
.question-choice-list.choice-1-col p:nth-child(4) {
  grid-row-start: 4; }
.question-choice-list.choice-1-col p:nth-child(5) {
  grid-row-start: 5; }

.tes-submit {
  grid-column-start: 2; }

footer {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem 0; }
  footer p {
    color: #707070; }
  footer h1 {
    font-size: 1rem; }

.profile-card {
  padding: 3rem 3rem; }

.profile-details {
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-gap: .5rem 2rem; }
  .profile-details div:nth-child(1) {
    grid-row-start: 1; }
  .profile-details div:nth-child(2) {
    grid-row-start: 2; }
  .profile-details div:nth-child(3) {
    grid-row-start: 3; }
  .profile-details div:nth-child(4) {
    grid-row-start: 4; }
  .profile-details div:nth-child(5) {
    grid-row-start: 5; }

.profile-details-group span {
  font-size: 1rem; }
.profile-details-group p {
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom: 0; }

.home-wrapper {
  display: grid;
  grid-template-columns: 0.3fr minmax(920px, 1fr) 0.3fr;
  grid-gap: 0 2rem; }
  .home-wrapper .container-card {
    grid-column-start: 2; }
  .home-wrapper .side-ads-left {
    grid-column-start: 1; }
  .home-wrapper .news-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 1rem; }
    .home-wrapper .news-container > h2 {
      grid-column: 1/3; }
  .home-wrapper .news-image-thumbnail {
    width: 250px;
    border-radius: 10px; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.signup-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem 2rem; }

.fixed {
  position: fixed; }

label::after {
  content: attr(data-after-value);
  color: red;
  margin-left: .5rem; }

div.hr {
  width: 100%;
  height: .15rem;
  margin: .5rem 0;
  background: white;
  background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #dddddd 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #dddddd 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #dddddd 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); }

/*# sourceMappingURL=master.css.map */
