nav {
  // position: absolute;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: $navbgcolor;
  color: rgba($navcolor, .65);
  padding: 1rem 3rem;
  transition: padding .25s, box-shadow .25s;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: block;
    color: inherit;
    padding: .75rem 1rem;
  }

  a:hover, a:active {
    color: $navcolor;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  a.active {
    font-size: 1.3rem;
    color: $navcolor;
    line-height: 28px;
  }

  a.account-avatar {
    padding: 0;
    align-self: center;
  }

  a.dropdown-item {
    font-size: 1rem;
  }
}

.simpul-nav-collapse {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: auto;
}

.nav-simpul-logo {
  background-image: url('../assets/simpul-logo-crop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 40px;
}

.simpul-nav-collapse.show {
  display: block;
}

.simpul-nav-collapse.hide {
  display: none;
}

.simpul-nav-toggler {
  display: none;
  padding: 0;
  align-self: center;

  .material-icons {
    vertical-align: middle;
  }
}

nav ul {
  // width: 100%;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row;

  li {
    padding: 0;
    float: left;
    // margin: 0 1rem;
    display: flex;
    align-items: flex-end;
  }

  .material-icons {
    font-size: 2rem;
    line-height: 3rem;
  }
}

nav.nav-scrolled {
  padding: .25rem 3rem;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);

  & ul li {
    a.active {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1178px) {
  nav {
    & ul {
      padding: 0;
      flex-flow: column;

      li {
        a.account-avatar {
          padding: .75rem 1rem;
        }

        a, a.active {
          font-size: 1.5rem;
        }
      }
    }
  }

  .nav-simpul-logo-link {
    padding: .75rem 0;
  }

  .simpul-nav-collapse {
    display: none;
    flex-basis: 100%;
  }

  .simpul-nav-toggler {
    display: block;
  }

  nav.nav-scrolled {
    & ul li {
      a.active {
        font-size: 1.5rem;
      }
    }
  }
}
