.test-online-dashboard {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 1.25rem;
    color: $defaultcolor;
  }
}

.test-online-dashboard.container-card {
  padding: 2rem 2rem;
}

.category-container {
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
  padding: 1rem;
}

.ranking-wrapper {
  // width: 80%;
}

.guru-wrapper {
  // width: 20%;
}


ol.custom-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ol.custom-list > li {
  counter-increment: customlistcounter;
}

ol.custom-list > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  float: left;
  width: 1.25rem;
}

ol.custom-list:first-child {
  counter-reset: customlistcounter;
}

ol.custom-list {
  li {
    display: grid;
    grid-template-columns: 15px 50px 1fr 150px 0px;
    grid-gap: .75rem;
    align-items: center;
  }
}

.rank-guru-wrapper {
  display: grid;
  grid-template-columns: 1fr 250px;
}

.guru-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-gap: .5rem;
}

@media only screen and (max-width: 767px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(125px, 1fr));
    grid-gap: .5rem;
  }

  .category-card-link {
    padding: 1rem 0;
  }

  .category-card {
    border-radius: .75rem;
    margin: 0;

    .material-icons {
      font-size: 3rem;
    }
    .category-card-label {
      margin-top: 0;
    }
  }

  .rank-guru-wrapper {
    grid-template-columns: 1fr;
  }

}
