.main-test-container {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-gap: 1rem;
}

.answer-header-container {
  grid-row-start: 1;
  display: flex;
  align-items: flex-end;

  table {
    width: 100%;

    tr {
      display: grid;
      grid-template-columns: 2.5rem repeat(5, 30px);

      td {
        padding: 0;
      }
    }
  }
}

.answer-container {
  grid-column-start: 1;
  grid-row: 2/3;

  div:first-child {
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
  }

  ol {
    padding-left: 2rem;

    li {
      margin-bottom: .5rem;
      input {
        margin: 0 .35rem;
      }
    }

    li:nth-child(even) {
      background-color: #ddd;
    }
  }
}

.question-container {
  .category-card {
    padding: .5rem;
    cursor: default;
    line-height: 0;
  }
}

.question-details {
  display: flex;
  align-items: center;
  margin-left: .5rem;

  table {
    border-spacing: .5rem 0;
    border-collapse: separate;
  }
}

.question-list {
  grid-row-start: 2;

  li {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: .5rem;
  }
}

.question-choice-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  p::before {
    padding-right: .5rem;
  }

  p:nth-child(1) {
    &::before {
      content: "A.";
    }
  }

  p:nth-child(2) {
    &::before {
      content: "B.";
    }
  }

  p:nth-child(3) {
    &::before {
      content: "C.";
    }
  }

  p:nth-child(4) {
    &::before {
      content: "D.";
    }
  }
  p:nth-child(5) {
    &::before {
      content: "E.";
    }
  }
}

.question-choice-list.choice-list-vertical {
  p:nth-child(1) {
    grid-row-start: 1;
  }

  p:nth-child(2) {
    grid-row-start: 2;
  }

  p:nth-child(3) {
    grid-row-start: 1;
  }

  p:nth-child(4) {
    grid-row-start: 2;
  }

  p:nth-child(5) {
    grid-row-start: 1;
  }
}

.question-choice-list.choice-2-col {
  p:nth-child(1) {
    grid-row-start: 1;
  }

  p:nth-child(2) {
    grid-row-start: 2;
  }

  p:nth-child(3) {
    grid-row-start: 3;
  }

  p:nth-child(4) {
    grid-row-start: 1;
  }

  p:nth-child(5) {
    grid-row-start: 2;
  }
}

.question-choice-list.choice-1-col {
  p:nth-child(1) {
    grid-row-start: 1;
  }

  p:nth-child(2) {
    grid-row-start: 2;
  }

  p:nth-child(3) {
    grid-row-start: 3;
  }

  p:nth-child(4) {
    grid-row-start: 4;
  }

  p:nth-child(5) {
    grid-row-start: 5;
  }
}

.tes-submit {
  grid-column-start: 2;
}

@media only screen and (max-width: 970px) {
  .main-test-container {
    grid-template-columns: 1fr;
  }

  .answer-header-container {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  .answer-container {
    grid-row: 4;
    grid-column-start: 1;
  }

  .tes-submit {
    grid-column-start: 1;
  }

}
