@import 'font';
@import 'config';

html, body {
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

body {
  background-color: $bodybg;
  min-height: 100vh;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

h1 {
  color: $headercolor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

@import 'nav';

.container-card {
  background-color: $containerbg;
  border-radius: 1rem;
  padding: 3rem 5rem;
}

main {
}

img.user-avatar {
  width: 50px;

}

img.user-avatar.avatar-rounded {
  border-radius: 50%;
}

.flex {
  display: flex;
}

@import 'test-online';
@import 'test-soal';
@import 'footer';

.fixed {
  position: fixed;
}

label::after {
  content: attr(data-after-value);
  color: red;
  margin-left: .5rem;
}
